=0.20.0
env/
.bash_history
.bash_logout
.bashrc
.netrc
.profile
.wget-hsts
speecht5_finetuned_voxpopuli_nl/
speecht5_finetuned_voxpopuli_nl/
speecht5_finetuned_voxpopuli_nl_*/
*.wav
wandb/
*.pt
*.pth
*.safetensors
scripts/wandb/
scripts/wandb/*